.band {
  position: absolute;
  top: 70px;
  right: -70px;
  height: 30px;
  width: 300px;
  background-color: yellow;
  flood-color: #000;
  font-family: "Poppins";
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: rotateZ(45deg);

  border: 2px dashed #000;

  filter: drop-shadow(5px 5px 5px #00000077);

  text-decoration: none;
  color: #000;

  &__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
}
