.navigation {
  &__list {
    display: flex;
    gap: 90px;

    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    display: block;
    font-family: "Poppins";
    font-size: 18px;

    height: 36px;

    padding: 5px 32px;
    background-color: transparent;
    border: none;
    border-radius: 18px;
    color: #fff;

    text-decoration: none;

    &_state {
      &_active {
        background-color: #fff;

        color: #b6ccda;
      }
    }
  }
}

@media (max-width: 768px) {
  .navigation {
    &__list {
      flex-direction: column;
      gap: 5px;
      align-items: center;
    }

    &__item,
    &__link {
      text-align: center;
      width: 100%;
    }
  }
}
