.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  max-width: 100px;
  width: 20%;
  height: 100%;

  padding: 70px 10px;
}

@media (max-width: 426px) {
  .sidebar {
    flex-direction: row;
    padding: 10px;
    justify-content: flex-start;
  }
}
