.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  padding: 20px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  height: 600px;

  &__feature {
    display: flex;
    align-items: stretch;
    gap: 20px;

    font-size: 0.7em;

    padding: 20px;

    height: 200px;
    width: calc(100% / 3);

    &_type {
      &_image {
        height: 600px;

        & > img {
          object-fit: contain;
          width: 100%;
        }
      }
      &_reverse {
        flex-direction: row-reverse;
      }
    }
  }
  &__wrapper {
    width: calc(100% - 40px - 20px);
  }

  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #faf6fb;
    transform-style: preserve-3d;
    flex-basis: 40px;

    & > svg {
      width: 20px;
      height: 20px;

      & > path {
        fill: #793891;
      }
    }

    &::before {
      content: "";
      display: block;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background: radial-gradient(#ec3491, #793891);
      background-size: 200% 200%;
      background-position: 0 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) translateZ(-1px);
    }
  }
}

@media (max-width: 768px) {
  .features {
    height: auto;
    flex-wrap: nowrap;

    &__feature {
      width: auto;
    }
  }
}
