@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.ttf");
  font-weight: medium;
}

@font-face {
  font-family: "RockSalt";
  src: url("./fonts/RockSalt.ttf");
  font-weight: medium;
}

@font-face {
  font-family: "Orbitron";
  src: url("./fonts/Orbitron.ttf");
}
